
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    background-color: #336699;
    margin-right: 1px;
    border: 1px solid #336699;
}
nav a:visited, a:link {
    color: #fff;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}